<search
    [verbos]="verbs"
></search>

<div class="tab-container">
    <div class="tab" [class.active]="activeTab == 'verbos'" (click)="activeTab = 'verbos'">
        <div class="tab-content">
            Verbos
        </div>
    </div>
    <div class="tab" [class.active]="activeTab == 'articulos'" (click)="activeTab = 'articulos'">
        <div class="tab-content">
            Articulos
        </div>
    </div>
    <div class="tab" [class.active]="activeTab == 'adjetivos'" (click)="activeTab = 'adjetivos'">
        <div class="tab-content">
            Adjetivos
        </div>
    </div>
</div>
<ng-container *ngIf="activeTab == 'verbos'">
    <verbs-card [verb]="verb" *ngFor="let verb of verbs"></verbs-card>
</ng-container>
<ng-container *ngIf="activeTab == 'articulos'">
    <verbs-card [verb]="verb" *ngFor="let verb of verbs"></verbs-card>
</ng-container>
<ng-container *ngIf="activeTab == 'adjetivos'">
    <verbs-card [verb]="verb" *ngFor="let verb of verbs"></verbs-card>
</ng-container>

