<div class="card m-3 gap-1" [class.search]="fromSearch" #sustantivoCard (click)="showMore = !showMore">
    <header class="flex flex-column">
        <span class="title-lg flex flex-1">
            {{ sustantivo.kana }}
        </span>

        <span class="title-md font-italic text-right">
            {{ sustantivo.translation }}
        </span>
    </header>

    <div class="flex flex-column gap-2" style="transition: all 0.2s ease-in-out" [class.h-8rem]="showMore"
         [class.h-0]="!showMore" [class.opacity-0]="!showMore">
        <div class="flex align-items-center justify-content-between">
            <span class="title-md">
                Kanji:
            </span>
            <span class="title-lg">
                {{ sustantivo.kanji }}
            </span>
        </div>
        <div class="flex align-items-center justify-content-between">
            <span class="title-md">
                Romaji:
            </span>
            <span class="title-md">
                {{ sustantivo.romanji }}
            </span>
        </div>
        <div class="flex align-items-center justify-content-between">
            <span class="title-md">
                Tipo:
            </span>
            <span class="title-md">
                {{ sustantivo.type }}
            </span>
        </div>
    </div>

    <footer class="flex align-items-center justify-content-between">
        <button class="btn-icon btn-text btn-sm" (click)="convertDivToSnapshot($event)">
            <i class="material-symbols-rounded">
                photo_camera
            </i>
        </button>
        <button class="btn btn-text p-1" (click)="showMore = !showMore">
            {{ showMore ? 'Ver menos' : 'Ver más' }}
            <i class="material-symbols-rounded">
                {{ showMore ? 'expand_less' : 'expand_more' }}
            </i>
        </button>
    </footer>
</div>
